<!DOCTYPE html>
<html lang="zxx">


<!-- Mirrored from innovationplans.com/soulinsight3/project-details by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Feb 2021 12:12:33 GMT -->
<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Kono onepage themeforest" />
    <meta name="description" content="Kono - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>soulinsight</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&amp;display=swap" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="css/style.css" />

</head>

<body class="light">

    <!-- ==================== Start Loading ==================== -->

    <div id="preloader">
        <div class="loading-text">Loading</div>
    </div>

    <!-- ==================== End Loading ==================== -->


    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->


    <!-- ==================== Start Navgition ==================== -->

    <div id="navi" class="topnav">
        <div class="container-fluid">
            <div class="logo">
                <a href="/">
                    <p class="logo-text"> SOUL - A HUMAN Insights Studio</p></a>
            </div>
            <div class="menu-icon">
                <span class="icon">
                    <i></i>
                    <i></i>
                </span>
                <span class="text" data-splitting>Menu</span>
            </div>
        </div>
    </div>

    <div class="hamenu">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="menu-links">
                        <ul class="main-menu">
                            <li>
                                <div class="o-hidden">
                                <a href="/">    <span class="link dmenu"><span class="nm">01.</span>Home 
                                    </span></a>
                                </div>
                                
                            </li>
                            <li>
                                <div class="o-hidden">
                                    <a href="about" class="link"><span class="nm">02.</span>Our Story</a>
                                </div>
                            </li>
                        
                         


                            <li>
                                <div class="o-hidden">
                                   <a href="./blogs"><span class="link dmenu">
                                        <span class="nm">03.</span>Blogs </span>
                                        </a>  
                                          
                                </div>
                            </li>
                             <li>
                                <div class="o-hidden">
                                    <a href="./contact"><span class="link dmenu">
                                        <span class="nm">04.</span>Contact </span>
                                        </a>        
                                </div>
                            </li>

                            <li>
                                <div class="o-hidden">
                                   <a href="./genises"> <span class="link dmenu"><span class="nm">05.</span>Be (-ing)</a>       
                                </div>
                            </li>

                          
                         
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="cont-info">
                        <div class="item">
                            <h6>Phone :</h6>
                            <p>0120-6646911</p>
                        </div>
                        <div class="item">
                            <h6>Address :</h6>
                            <p>
                                C3-2602 ,
                                Cleo county, 
                                Noida ,
                                sector 121, 
                                UP 201307
                            </p>
                        </div>
                        <div class="item">
                            <h6>Email :</h6>
                            <p>quest@soulinsights.studio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ==================== End Navgition ==================== -->


    <!-- ==================== Start wrapper ==================== -->

    <div class="wrapper">


        <!-- ==================== Start Header ==================== -->

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">   
                        <div class="cont">

<h4>
    We intend to create meaning for  <span class="stroke">marketing </span> 
    decision making through mindful research.
   
</h4>


                        </div>
                    </div>
                </div>
            </div>
            <div class="img-wrapper bg-img parallaxie" >
                <div class="title">
                    <div class="container">
                        <h3>About Us</h3>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== Start Header ==================== -->



        <!-- ==================== Start Intro ==================== -->

        <section class="intro-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="htit">
                            <h4>introduction</h4>
                        </div>
                    </div>
                    <div class="col-lg-8 offset-lg-1 col-md-8 mb-30">
                        <div class="text">
                            <p>We are a Creative Agency & Startup Studio that provides Digital Products and Services
                                turns to focus on client success. We specialize in user interface design, including
                                front-end development which we consider to be an integral part.</p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="item mt-30">
                            <h6>Client</h6>
                            <p><a href="#0">Envato.com</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="item mt-30">
                            <h6>Date</h6>
                            <p>6 August 2019</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="item mt-30">
                            <h6>Categories</h6>
                            <p><a href="#0">Web Design </a>, <a href="#0">WordPress</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="item mt-30">
                            <h6>Tags</h6>
                            <p><a href="#0">Minimal</a> , <a href="#0">Modern</a> , <a href="#0">Design</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== End Intro ==================== -->




        <!-- ==================== Start projdtal ==================== -->

        <section class="agency section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content">
                            <h6 class="sub-title wow" data-splitting>About Agency</h6>
                            <h4 class="wow" data-splitting>Unlimited Skills <br> for Super Projects.</h4>
                            <p class="wow txt" data-splitting>Branding is no longer simply about visual appeal
                                (or the
                                cherry in the apple pie example, as
                                given in my earlier article).</p>
                            <ul>
                                <li class="wow fadeInUp" data-wow-delay=".2s">We provide free initial
                                    consultation and
                                    support.</li>
                                <li class="wow fadeInUp" data-wow-delay=".4s">We work with some of the most
                                    successful
                                    businesses.</li>
                                <li class="wow fadeInUp" data-wow-delay=".6s">We have the professional designers
                                    team.
                                </li>
                            </ul>
                            <a href="about" class="btn-curve mt-40 wow fadeInUp" data-wow-delay=".8s"><span>About
                                    Us</span></a><br>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="img">
                            <div class="imgone wow fadeInDown" data-wow-delay=".8s">
                                <img class="thumparallax-down" src="img/1.jpg" alt="">
                            </div>
                            <div class="imgtwo wow fadeInUp" data-wow-delay=".6s">
                                <img class="thumparallax" src="img/2.jpg" alt="">
                            </div>
                            <span class="icon wow fadeIn" data-wow-delay=".5s">
                                <svg version="1.1" class="svg-icon" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 590 300"
                                    enable-background="new 0 0 590 300" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path fill="none" stroke="#999" stroke-width="6" d="M333.295,37.38c-32.999-16.674-72.75-10.299-98.912,15.864c-30.408,30.407-33.451,78.891-7.079,112.779
        c0.933,1.197,2.326,1.824,3.734,1.824c1.015,0,2.037-0.325,2.9-0.998c2.061-1.604,2.431-4.573,0.828-6.634
        c-23.449-30.13-20.739-73.244,6.303-100.286c23.268-23.269,58.616-28.939,87.962-14.111c2.33,1.179,5.174,0.243,6.352-2.088
        C336.561,41.401,335.627,38.558,333.295,37.38z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path fill="none" stroke="#999" stroke-width="6" d="M371.047,75.14c-1.178-2.33-4.02-3.265-6.352-2.089c-2.33,1.177-3.266,4.02-2.089,6.352
        c14.817,29.341,9.144,64.686-14.118,87.947c-27.043,27.041-70.155,29.751-100.285,6.303c-2.062-1.603-5.031-1.232-6.635,0.828
        c-1.604,2.061-1.232,5.031,0.828,6.635c15.436,12.013,33.899,17.921,52.304,17.921c22,0,43.917-8.444,60.474-25.001
        C381.332,147.879,387.711,108.136,371.047,75.14z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path fill="none" stroke="#999" stroke-width="6" d="M358.832,57.134c-1.171-1.326-2.401-2.634-3.657-3.89c-1.255-1.255-2.563-2.486-3.89-3.657
        c-1.956-1.73-4.944-1.544-6.672,0.412c-1.73,1.956-1.547,4.944,0.41,6.673c1.18,1.043,2.346,2.14,3.465,3.258
        c1.119,1.119,2.215,2.285,3.259,3.465c0.935,1.057,2.236,1.597,3.544,1.597c1.113,0,2.23-0.391,3.129-1.186
        C360.377,62.078,360.562,59.09,358.832,57.134z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path fill="none" stroke="#999" stroke-width="6" d="M406.367,122.115c3.152-5.172,3.152-11.596-0.001-16.767l-6.22-10.199c-0.819-1.344-1.137-2.94-0.892-4.494l1.854-11.779
        c0.945-6.003-1.521-11.952-6.436-15.527l-9.639-7.011c-1.274-0.928-2.18-2.28-2.551-3.812l-2.808-11.601
        c-1.425-5.893-5.972-10.438-11.864-11.865l-11.602-2.808c-1.531-0.371-2.885-1.277-3.812-2.551l-7.013-9.642
        c-3.574-4.914-9.523-7.381-15.525-6.436l-11.783,1.854c-1.553,0.244-3.15-0.072-4.493-0.891l-10.201-6.222
        c-5.171-3.153-11.596-3.153-16.767,0l-10.2,6.22c-1.343,0.82-2.938,1.135-4.494,0.891l-11.78-1.854
        c-6.001-0.945-11.951,1.521-15.525,6.435l-7.011,9.639c-0.928,1.274-2.281,2.181-3.813,2.551l-11.601,2.807
        c-5.892,1.425-10.438,5.972-11.865,11.864l-2.808,11.602c-0.371,1.532-1.276,2.886-2.551,3.812l-9.642,7.013
        c-4.914,3.574-7.379,9.522-6.435,15.525l1.854,11.784c0.245,1.555-0.072,3.151-0.891,4.494l-6.221,10.202
        c-3.152,5.172-3.152,11.596,0,16.767l6.22,10.2c0.819,1.344,1.136,2.94,0.891,4.494l-1.854,11.78
        c-0.945,6.002,1.521,11.952,6.435,15.526l9.639,7.012c1.274,0.926,2.18,2.28,2.551,3.813l2.807,11.601
        c1.425,5.893,5.971,10.438,11.864,11.864l4.844,1.173l-32.786,73.134c-0.697,1.555-0.504,3.362,0.506,4.734
        c1.009,1.373,2.677,2.096,4.369,1.893l26.38-3.153l15.197,21.792c0.89,1.273,2.341,2.023,3.876,2.023
        c0.147,0,0.296-0.008,0.444-0.021c1.695-0.159,3.175-1.219,3.872-2.772l33.483-74.694l4.243,2.586
        c2.585,1.577,5.484,2.365,8.383,2.365c2.899,0,5.798-0.789,8.384-2.365l4.396-2.68l33.526,74.788
        c0.696,1.555,2.175,2.613,3.871,2.772c0.148,0.015,0.297,0.021,0.443,0.021c1.536,0,2.988-0.749,3.877-2.023l15.197-21.791
        l26.38,3.154c1.69,0.2,3.36-0.521,4.369-1.894s1.203-3.181,0.506-4.735l-32.803-73.174l4.662-1.128
        c5.892-1.425,10.438-5.972,11.864-11.863l2.809-11.602c0.371-1.532,1.276-2.886,2.551-3.812l9.643-7.014
        c4.913-3.573,7.379-9.521,6.435-15.524l-1.854-11.784c-0.245-1.555,0.071-3.151,0.891-4.494L406.367,122.115z M243.677,285.72
        l-12.043-17.271c-0.999-1.432-2.706-2.198-4.439-1.989l-20.906,2.499l29.871-66.635c0.546,0.402,1.036,0.883,1.439,1.439
        l7.013,9.641c0.666,0.916,1.415,1.746,2.231,2.486l-15.723,35.072c-1.067,2.383-0.002,5.18,2.38,6.248
        c0.628,0.281,1.285,0.414,1.931,0.414c1.806,0,3.531-1.04,4.317-2.795l15.667-34.947c1.542,0.211,3.129,0.208,4.722-0.043
        l11.783-1.854c0.706-0.111,1.419-0.102,2.113,0.014L243.677,285.72z M383.906,268.958L363,266.459
        c-1.735-0.207-3.441,0.559-4.439,1.99l-12.043,17.271l-30.369-67.746c0.637-0.087,1.287-0.087,1.93,0.015l11.779,1.854
        c1.657,0.261,3.309,0.252,4.909,0.014l15.679,34.977c0.787,1.754,2.511,2.795,4.316,2.795c0.646,0,1.303-0.133,1.931-0.415
        c2.383-1.067,3.448-3.866,2.38-6.248l-15.781-35.206c0.761-0.707,1.465-1.488,2.092-2.352l7.012-9.639
        c0.441-0.607,0.982-1.129,1.591-1.551L383.906,268.958z M398.294,117.192l-6.222,10.202c-1.982,3.254-2.75,7.121-2.158,10.886
        l1.854,11.783c0.391,2.478-0.629,4.933-2.656,6.41l-9.643,7.012c-3.086,2.246-5.281,5.525-6.178,9.235l-2.809,11.602
        c-0.589,2.433-2.465,4.309-4.897,4.897l-11.602,2.808c-3.71,0.897-6.99,3.093-9.235,6.179l-7.012,9.64
        c-1.476,2.029-3.931,3.046-6.41,2.656l-11.779-1.854c-3.766-0.592-7.633,0.174-10.887,2.159l-10.199,6.22
        c-2.135,1.301-4.789,1.301-6.922,0l-10.202-6.221c-2.537-1.547-5.446-2.354-8.389-2.354c-0.832,0-1.668,0.064-2.497,0.195
        l-11.784,1.854c-2.479,0.391-4.934-0.629-6.409-2.656l-7.013-9.642c-2.245-3.087-5.524-5.281-9.234-6.179l-11.602-2.809
        c-2.432-0.588-4.309-2.465-4.897-4.897l-2.808-11.601c-0.897-3.711-3.092-6.991-6.179-9.236l-9.639-7.012
        c-2.028-1.476-3.046-3.932-2.656-6.41l1.854-11.779c0.592-3.766-0.174-7.632-2.159-10.887l-6.22-10.201
        c-1.301-2.135-1.301-4.787,0-6.921l6.221-10.202c1.984-3.254,2.751-7.12,2.159-10.886L198.231,77.4
        c-0.39-2.478,0.628-4.934,2.657-6.409l9.642-7.013c3.086-2.245,5.281-5.525,6.179-9.234l2.808-11.602
        c0.589-2.432,2.465-4.309,4.898-4.898l11.602-2.807c3.71-0.898,6.99-3.093,9.235-6.179l7.012-9.64
        c1.475-2.028,3.93-3.047,6.409-2.656l11.78,1.854c3.767,0.594,7.633-0.174,10.888-2.158l10.199-6.22
        c2.135-1.301,4.788-1.301,6.92,0l10.203,6.22c3.254,1.985,7.121,2.752,10.886,2.159l11.784-1.854
        c2.477-0.389,4.934,0.629,6.408,2.657l7.014,9.642c2.245,3.086,5.524,5.281,9.234,6.179l11.602,2.808
        c2.432,0.589,4.309,2.465,4.897,4.898l2.808,11.601c0.897,3.71,3.092,6.991,6.179,9.236l9.64,7.011
        c2.028,1.475,3.047,3.932,2.656,6.41l-1.854,11.779c-0.593,3.766,0.175,7.632,2.159,10.887l6.22,10.2
        C399.596,112.405,399.596,115.058,398.294,117.192z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path fill="none" stroke="#75DAB4" stroke-width="6" d="M350.322,99.022c-1.042-3.208-3.77-5.447-7.119-5.844l-28.447-3.373l-11.999-26.013c-1.413-3.062-4.386-4.964-7.758-4.964
        s-6.345,1.902-7.758,4.964l-11.999,26.014l-28.448,3.373c-3.349,0.397-6.077,2.637-7.119,5.844
        c-1.042,3.206-0.151,6.621,2.324,8.91l21.032,19.45l-5.583,28.098c-0.657,3.309,0.63,6.595,3.358,8.576
        c1.505,1.094,3.252,1.647,5.01,1.647c1.429,0,2.865-0.366,4.184-1.104l24.998-13.991l24.998,13.991
        c2.943,1.648,6.465,1.439,9.193-0.542c2.729-1.982,4.016-5.269,3.358-8.577l-5.583-28.097l21.032-19.45
        C350.474,105.644,351.364,102.229,350.322,99.022z M318.604,122.238c-1.207,1.116-1.748,2.78-1.428,4.393l5.713,28.752
        l-25.581-14.318c-0.718-0.401-1.513-0.603-2.309-0.603s-1.591,0.2-2.309,0.603l-25.581,14.318l5.713-28.752
        c0.321-1.613-0.22-3.276-1.427-4.393l-21.523-19.904l29.113-3.452c1.632-0.193,3.047-1.222,3.736-2.714l12.278-26.62l12.278,26.62
        c0.689,1.492,2.104,2.521,3.736,2.714l29.112,3.452L318.604,122.238z" />
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <div class="exp">
                                <h2 class="nmb-font">28</h2>
                                <h6>Years Of Experience</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog">
            <div class="stories bg-img no-cover bg-pattern" data-background="img/pattern.svg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 no-padding">
                            <div class="swiper-container swiper-img">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="item wow fadeIn" data-wow-delay=".3s">
                                            <div class="img">
                                                <img class="thumparallax" src="img/blog/1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item wow fadeIn" data-wow-delay=".3s">
                                            <div class="img">
                                                <img class="thumparallax" src="img/blog/2.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item wow fadeIn" data-wow-delay=".3s">
                                            <div class="img">
                                                <img class="thumparallax" src="img/blog/3.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 no-padding valign">
                            <div class="swiper-container swiper-content">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="item wow fadeIn" data-wow-delay=".6s">
                                            <div class="content">
                                                <div class="tags">
                                                    <a href="#0">Trending</a>
                                                </div>
                                                <div class="info">
                                                    <a href="#0">
                                                        <i class="far fa-clock"></i>
                                                        06 Aug 2019
                                                    </a>
                                                    <a href="#0">
                                                        by Alex Morgan
                                                    </a>
                                                </div>
                                                <div class="title">
                                                    <h4><a href="#0">Create The Lifestyle You
                                                            Really Desire This World</a>
                                                    </h4>
                                                </div>
                                                <div class="text">
                                                    <p>Success is no accident. It is hard work, perseverance,
                                                        learning,
                                                        studying, sacrifice and most of all, love of what you
                                                        are doing.
                                                    </p>
                                                </div>
                                                <div class="more">
                                                    <a href="blog-details">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item wow fadeIn" data-wow-delay=".6s">
                                            <div class="content">
                                                <div class="tags">
                                                    <a href="#0">Trending</a>
                                                </div>
                                                <div class="info">
                                                    <a href="#0">
                                                        <i class="far fa-clock"></i>
                                                        06 Aug 2019
                                                    </a>
                                                    <a href="#0">
                                                        by Alex Morgan
                                                    </a>
                                                </div>
                                                <div class="title">
                                                    <h4><a href="#0">List of The Best Investment
                                                            Projects</a></h4>
                                                </div>
                                                <div class="text">
                                                    <p>Success is no accident. It is hard work, perseverance,
                                                        learning,
                                                        studying, sacrifice and most of all, love of what you
                                                        are doing.
                                                    </p>
                                                </div>
                                                <div class="more">
                                                    <a href="blog-details">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="item wow fadeIn" data-wow-delay=".6s">
                                            <div class="content">
                                                <div class="tags">
                                                    <a href="#0">Trending</a>
                                                </div>
                                                <div class="info">
                                                    <a href="#0">
                                                        <i class="far fa-clock"></i>
                                                        06 Aug 2019
                                                    </a>
                                                    <a href="#0">
                                                        by Alex Morgan
                                                    </a>
                                                </div>
                                                <div class="title">
                                                    <h4><a href="#0">World Best Business Website
                                                            Company</a></h4>
                                                </div>
                                                <div class="text">
                                                    <p>Success is no accident. It is hard work, perseverance,
                                                        learning,
                                                        studying, sacrifice and most of all, love of what you
                                                        are doing.
                                                    </p>
                                                </div>
                                                <div class="more">
                                                    <a href="blog-details">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- slider setting -->
                    <div class="controls">
                        <div class="swiper-button-next swiper-nav-ctrl next-ctrl">
                            <i class="fas fa-caret-up"></i>
                        </div>
                        <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl">
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== End projdtal ==================== -->




        <!-- ==================== Start Video-wrapper ==================== -->

        <!-- <section>
            <div class="container-fluid">
                <div class="video-wrapper section-padding bg-img parallaxie valign"
                    data-background="img/portfolio/project2/vid.jpg" data-overlay-dark="4">
                    <div class="full-width text-center">
                        <a class="vid" href="https://vimeo.com/127203262">
                            <div class="vid-butn">
                                <span class="icon">
                                    <i class="fas fa-play"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- ==================== End Video-wrapper ==================== -->



        <!-- ==================== Start projdtal ==================== -->

   

        <!-- ==================== End projdtal ==================== -->




        <!-- ==================== Start call-to-action ==================== -->

        <section class="call-action nogif next">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content text-center">
                            <a href="project-details2">
                                <h6 class="wow" data-splitting>Let’s Discuss</h6>
                                <h2 class="wow" data-splitting><b>The</b> Collaboration.</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nxt-img bg-img" data-background="img/portfolio/project2/bg.jpg"></div>
        </section>

        <!-- ==================== End call-to-action ==================== -->



        <!-- ==================== Start footer-sm ==================== -->

        <footer class="footer-sm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                        <div class="left">
                            <p>All right reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <div class="right">
                            <p>© 2021,The Brandwick .</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- ==================== End footer-sm ==================== -->


    </div>

    <!-- ==================== End wrapper ==================== -->



    <!-- ==================== Start cursor ==================== -->

    <div class="cursor"></div>
    <div class="cursor2"></div>

    <!-- ==================== End cursor ==================== -->




    <!-- jQuery -->
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="js/scripts.js"></script>

</body>


<!-- Mirrored from innovationplans.com/soulinsight3/project-details by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Feb 2021 12:13:43 GMT -->
</html>