<!DOCTYPE html>
<html lang="zxx">




<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   

    <!-- Title  -->
    <title>Soul Insight</title>

    
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&amp;display=swap" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="css/style.css" />

</head>

<body class="light">

    <!-- ==================== Start Loading ==================== -->

    <div id="preloader">
        <div class="loading-text">Loading</div>
    </div>

    <!-- ==================== End Loading ==================== -->


    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->

    <!-- ==================== Start Navgition ==================== -->

    <div id="navi" class="topnav">
        <div class="container-fluid">
            <div class="logo">
                <a href="/">
                    <p class="logo-text"> SOUL - A HUMAN Insights Studio</p></a>
            </div>
            <div class="menu-icon">
                <span class="icon">
                    <i></i>
                    <i></i>
                </span>
                <span class="text" data-splitting>Menu</span>
            </div>
        </div>
    </div>


 
    <div class="hamenu">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="menu-links">
                        <ul class="main-menu">
                            <li>
                                <div class="o-hidden">
                                    <a href="/"> <span class="link dmenu"><span class="nm">01.</span>Home
                                        </span></a>
                                </div>

                            </li>
                            <li>
                                <div class="o-hidden">
                                    <a href="./#whatwedoSection" class="link"><span class="nm">02.</span>What
                                        We Do</a>
                                </div>
                            </li>

                            <li>
                                <div class="o-hidden">
                                    <a href="OurSpeciality " class="link"><span class="nm">03.</span>Our Speciality</a>
                                </div>
                            </li>

                            <li>
                                <div class="o-hidden">
                                    <a href="about " class="link"><span class="nm">04.</span>Our Story</a>
                                </div>
                            </li>




                            <li>
                                <div class="o-hidden">
                                    <a href="/blogs"><span class="link dmenu">
                                            <span class="nm">05.</span>Blogs </span>
                                    </a>

                                </div>
                            </li>   
                            
                            <li>
                                <div class="o-hidden">
                                    <a href="./genises "> <span class="link dmenu"><span class="nm">06.</span>Other
                                            Initiative : BE(-ing)</a>
                                </div>
                            </li>
                            
                            <li>
                                <div class="o-hidden">
                                    <a href="contact "><span class="link dmenu">
                                            <span class="nm">07.</span>Contact</span>
                                    </a>

                                </div>
                            </li>

                          




                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="cont-info">
                        <div class="item">
                            <h6>Phone :</h6>
                            <p>+91-8692011172 , +91-9811732091</p>
                        </div>
                        <div class="item">
                            <h6>Address :</h6>
                            <p>
                                C3-2602 ,
                                Cleo county,
                                Noida ,
                                sector 121,
                                UP 201307
                            </p>
                        </div>
                        <div class="item">
                            <h6>Email :</h6>
                            <p>quest@soulinsights.studio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== End Navgition ==================== -->


    <!-- ==================== Start wrapper ==================== -->

    <div class="wrapper">


        <!-- ==================== Start Header ==================== -->

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="cont">
                            <h4>Do you want to work <span class="stroke">together</span>, or talk about a marketing challenge? Let's collaborate.
                        </div>
                    </div>
                </div>
            </div>
            <div class="img-wrapper" >
                <div class="title">
                    <div class="container">
                        <h3>Contact Us</h3>
                    </div>
                </div>
                <div class="map" id="ieatmaps"></div>
            </div>
        </section>

        <!-- ==================== Start Header ==================== -->



        <!-- ==================== Start Contact ==================== -->

        <section class="contact section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form">

                            <form id="contact-form" name="contact-form" method="POST" data-netlify="true" >
                                <input type="hidden" name="contact-form" value="contact">
                                <div class="messages"></div>

                                <div class="controls">

                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" placeholder="Name"
                                            required="required">
                                    </div>

                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" placeholder="Email"
                                            required="required">
                                    </div>

                                    <div class="form-group">
                                        <textarea id="form_message" name="message" placeholder="Message" rows="4"
                                            required="required"></textarea>
                                    </div>

                                    <button type="submit" class="btn-curve btn-blc"><span>Send Message</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="cont-info">
                            <h2 class="extra-title wow" data-splitting>Let's Talk.
                            </h2>
                            <div class="item mb-40">
                                <h5><a href="#0">quest@soulinsights.studio</a></h5>
                                <h5>+91-8692011172 , +91-9811732091</h5>
                            </div>
                            <h2 class="extra-title wow" data-splitting>Visit Us.
                            </h2>
                            <div class="item">
                                <h6>  C3-2602 ,
                                    Cleo county, 
                                    Noida ,
                                    sector 121, 
                                   
                                    <br> UP - 201307</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== End Contact ==================== -->



        <!-- ==================== Start call-to-action ==================== -->

        <section class="call-action section-padding" data-overlay-dark="0">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <div class="content sm-mb30">
                            <h6 class="wow" data-splitting><strong>Let’s Talk</strong></h6>
                            <h2 class="wow" data-splitting>about your <b>next project</b>.</h2>
                            <p class="wow txt" data-splitting>Get research solutions. Everyone is a potential
                                creator.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3 valign">
                        <a href="contact " class="btn-curve btn-lit"><span>Get In Touch</span></a>
                    </div>

                </div>
            </div>
        </section>

        <!-- ==================== End call-to-action ==================== -->



        <!-- ==================== Start footer-sm ==================== -->

        <footer class="footer-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left">
                            <p>All right reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right" style="display: flex; align-items: center;">
                            <p>SOUL - A HUMAN Insights Studio. Made with passion by &nbsp; </p> <a 
                            style="color : #e6e666"
                            href="https://www.thebrandwick.com/" target="_blank"> TheBrandwick. </a>
                         </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- ==================== End footer-sm ==================== -->


    </div>

    <!-- ==================== End wrapper ==================== -->



    <!-- ==================== Start cursor ==================== -->

    <div class="cursor"></div>
    <div class="cursor2"></div>

    <!-- ==================== End cursor ==================== -->




    <!-- jQuery -->
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="js/scripts.js"></script>

    <!-- Map -->
    <script src="js/map.js"></script>

    <!-- google map api -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5bpEs3xlB8vhxNFErwoo3MXR64uavf6Y&amp;callback=initMap">
        </script>


</body>


</html>