<!DOCTYPE html>
<html lang="zxx">



<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Kono onepage themeforest" />
    <meta name="description" content="Kono - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>Soulinsights</title>

    <!-- Favicon -->
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&amp;display=swap" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="css/style.css" />

</head>

<body class="light">

    <!-- ==================== Start Loading ==================== -->

    <div id="preloader">
        <div class="loading-text">Loading</div>
    </div>

    <!-- ==================== End Loading ==================== -->


    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->


    <!-- ==================== Start Navgition ==================== -->

    <div id="navi" class="topnav">
        <div class="container-fluid">
            <div class="logo">
                <a href="/">
                    <p class="logo-text"> SOUL - A HUMAN Insights Studio</p>
                </a>
            </div>
            <div class="menu-icon">
                <span class="icon">
                    <i></i>
                    <i></i>
                </span>
                <span class="text" data-splitting>Menu</span>
            </div>
        </div>
    </div>

  
    <div class="hamenu">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="menu-links">
                        <ul class="main-menu">
                            <li>
                                <div class="o-hidden">
                                    <a href="/"> <span class="link dmenu"><span class="nm">01.</span>Home
                                        </span></a>
                                </div>

                            </li>
                            <li>
                                <div class="o-hidden">
                                    <a href="./#whatwedoSection" class="link"><span class="nm">02.</span>What
                                        We Do</a>
                                </div>
                            </li>

                            <li>
                                <div class="o-hidden">
                                    <a href="OurSpeciality " class="link"><span class="nm">03.</span>Our Speciality</a>
                                </div>
                            </li>

                            <li>
                                <div class="o-hidden">
                                    <a href="about " class="link"><span class="nm">04.</span>Our Story</a>
                                </div>
                            </li>




                            <li>
                                <div class="o-hidden">
                                    <a href='./blog'><span class="link dmenu">
                                            <span class="nm">05.</span>Blogs </span>
                                    </a>

                                </div>
                            </li>   
                            
                            <li>
                                <div class="o-hidden">
                                    <a href="./genises "> <span class="link dmenu"><span class="nm">06.</span>Other
                                            Initiative : BE(-ing)</a>
                                </div>
                            </li>
                            
                            <li>
                                <div class="o-hidden">
                                    <a href="contact "><span class="link dmenu">
                                            <span class="nm">07.</span>Contact</span>
                                    </a>

                                </div>
                            </li>

                          




                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="cont-info">
                        <div class="item">
                            <h6>Phone :</h6>
                            <p>+91-8692011172 , +91-9811732091</p>
                        </div>
                        <div class="item">
                            <h6>Address :</h6>
                            <p>
                                C3-2602 ,
                                Cleo county,
                                Noida ,
                                sector 121,
                                UP 201307
                            </p>
                        </div>
                        <div class="item">
                            <h6>Email :</h6>
                            <p>quest@soulinsights.studio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== End Navgition ==================== -->


    <!-- ==================== Start wrapper ==================== -->

    <div class="wrapper">


        <!-- ==================== Start Header ==================== -->

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">
                        <div class="cont">

                            <h4>


                                To bring alive the right to mental health for every <span class="stroke">HUMAN </span>
                                and become synonymous with mental health and well-being solutions.

                            </h4>


                        </div>
                    </div>
                </div>
            </div>
            <div class="img-wrapper bg-img parallaxie">
                <div class="title">
                    <div class="container">
                        <h3>BE(-ing)</h3>
                    </div>
                </div>
            </div>
        </section>


        
    <!-- ==================== Start Being Section ==================== -->

    <section class="about blc section-padding homepage-being-section " data-overlay-dark="0">
        <div class="container">
            <div class="row mb-80">
                <div class="col-lg-10">
                    <div class="intro">
                        <h6 class="sub-title wow" data-splitting>Welcome to Be(-ing)</h6>
                        <h2 class="extra-title wow" data-splitting>
                            A global crowd Initiative to foster mental health and wellbeing.
                        </h2>
                        <br />
                        <a  href="contact " class="btn-curve btn-lit homepage-section-cta"><span>Join Us</span></a>
                        
                    </div>
                </div>
            </div>


            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 items">
                    <div class="item wow fadeIn" data-wow-delay=".3s">
                        <span class="icon">
                            <!-- <i class="ion-ios-monitor"></i> -->
                            <img style="width : 50px ;  filter : invert(1)" src="./img/athlete.png" />
                        </span>
                        <h5>Contributor</h5>
                        <p>Help nurture and awaken the HUMAN spirit.</p>
                        <!-- <a href="#0" class="more-stroke"><span></span></a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 items active">
                    <div class="item wow fadeIn" data-wow-delay=".3s">
                        <span class="icon">
                            <img style="width : 50px ;  filter : invert(1)" src="./img/angel.png" />
                        </span>
                        <h5>Beneficiary</h5>
                        <p>Seek nurturing and awakening of the HUMAN spirit.</p>
                        <!-- <a href="#0" class="more-stroke"><span></span></a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 items">
                    <div class="item wow fadeIn" data-wow-delay=".3s">
                        <span class="icon">
                            <img style="width : 50px ;  filter : invert(1)" src="./img/resources.png" />
                        </span>
                        <h5>Resources</h5>
                        <p>A repository of resources that can be accessed to help you make that awakening shift.</p>
                        <!-- <a href="#0" class="more-stroke"><span></span></a> -->
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- ==================== End Being Section ==================== -->






        <!-- ==================== Start Intro ==================== -->

        <section class="intro-section section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-md-12 ">
                        <div class="content">
                            <h2 class="wow" data-splitting>Genesis of BE (-ing)</h2>
                            <br>

                            <ul class="feat">
                                <li class="wow fadeInUp" data-wow-delay=".2s">

                                    <p style="text-align: justify !important;"> <strong style="font-size: 22px;"> </strong> HUMANs are at the heart of our philosophy. Unfiltered and natural understanding of HUMANs require moving beyond insights and logic, and leading with empathy. We want to understand them at their natural best.
                                    </p>

                                </li>

                               



                                <li class="wow fadeInUp" data-wow-delay=".3s">

                                    <p><strong style="font-size: 22px;"></strong>It is thus natural that we help craft a safe haven through BE (-ing) – a mental health and wellness initiative
                                    </p>

                                </li>

                            </ul>


                            <a target="_blank" href="https://chat.whatsapp.com/Gdg54WxAdVoBASK6fhqp9Q"
                            class="btn-curve mt-40 wow fadeInUp" data-wow-delay=".8s"><span>Join
                              Us</span></a>



                        </div>
                        
                    </div>
                </div>


            </div>
    </div>
    </section>

    <!-- ==================== End Intro ==================== -->






    <!-- ==================== Start call-to-action ==================== -->

    <section class="call-action nogif">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="content">
                        <h6 class="wow" data-splitting><strong>Let’s Talk</strong></h6>
                        <h2 class="wow" data-splitting>Contact <b>Us</b>.</h2>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 valign">
                    <a href="contact " class="btn-curve btn-lit"><span>Get In Touch</span></a>
                </div>

            </div>
        </div>
    </section>

    <!-- ==================== End call-to-action ==================== -->



    <!-- ==================== Start footer-sm ==================== -->

    <footer class="footer-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4">
                    <div class="left">
                        <p>All right reserved.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="right" style="display: flex; align-items: center;">
                        <p>SOUL - A HUMAN Insights Studio. Made with passion by &nbsp; </p> <a 
                        style="color : #e6e666"
                        href="https://www.thebrandwick.com/" target="_blank"> TheBrandwick. </a>
                     </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- ==================== End footer-sm ==================== -->


    </div>

    <!-- ==================== End wrapper ==================== -->



    <!-- ==================== Start cursor ==================== -->

    <div class="cursor"></div>
    <div class="cursor2"></div>

    <!-- ==================== End cursor ==================== -->




    <!-- jQuery -->
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="js/scripts.js"></script>


</body>

</html>