<!DOCTYPE html>
<html lang="zxx">



<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="" />

    <!-- Title  -->
    <title>soulinsights</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&amp;display=swap" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Core Style Css -->
    <link rel="stylesheet" href="css/style.css" />


</head>



<body class="light">

    <!-- Modal -->
    <!-- Modal -->
    <div class="modal fade" onclick="videoPause()" id="videomodal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" onclick="videoPause()" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <style>.codegena{position:relative;width:100%;height:0;padding-bottom:56.27198%;}.codegena iframe{position:absolute;top:0;left:0;width:100%;height:100%;}/*Youtube Embed Code : Created with Codegena.com */</style><div class="codegena"><iframe width='500' height='294' src="https://www.youtube.com/embed/cOlrWjJJtVs?&theme=dark&keyboard=1&autohide=1&modestbranding=1&showinfo=0&rel=0"frameborder="1"></iframe></div><div style='font-size: 0.8em'></div>




                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->




    <!-- ==================== Start Loading ==================== -->
    <div id="preloader">
        <div class="loading-text">Loading</div>
    </div>
    <!-- ==================== End Loading ==================== -->


    <!-- ==================== Start progress-scroll-button ==================== -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- ==================== End progress-scroll-button ==================== -->


    <!-- ==================== Start Navgition ==================== -->
    <div id="navi" class="topnav">
        <div class="container-fluid">
            <div class="logo">
                <a href="/">
                    <p class="logo-text"> SOUL - A HUMAN Insights Studio</p>
                </a>
            </div>
            <div class="menu-icon">
                <span class="icon">
                    <i></i>
                    <i></i>
                </span>
                <span class="text" data-splitting>Menu</span>
            </div>
        </div>
    </div>


    <div class="hamenu">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="menu-links">
                        <ul class="main-menu">
                            <li>
                                <div class="o-hidden">
                                    <a href="/"> <span class="link dmenu"><span class="nm">01.</span>Home
                                        </span></a>
                                </div>

                            </li>
                            <li>
                                <div class="o-hidden">
                                    <a href="./#whatwedoSection" class="link"><span class="nm">02.</span>What
                                        We Do</a>
                                </div>
                            </li>

                            <li>
                                <div class="o-hidden">
                                    <a href="OurSpeciality " class="link"><span class="nm">03.</span>Our Speciality</a>
                                </div>
                            </li>

                            <li>
                                <div class="o-hidden">
                                    <a href="about " class="link"><span class="nm">04.</span>Our Story</a>
                                </div>
                            </li>




                            <li>
                                <div class="o-hidden">
                                    <a href="#"><span class="link dmenu">
                                            <span class="nm">05.</span>Blogs </span>
                                    </a>

                                </div>
                            </li>   
                            
                            <li>
                                <div class="o-hidden">
                                    <a href="./genises "> <span class="link dmenu"><span class="nm">06.</span>Other
                                            Initiative : BE(-ing)</a>
                                </div>
                            </li>
                            
                            <li>
                                <div class="o-hidden">
                                    <a href="contact "><span class="link dmenu">
                                            <span class="nm">07.</span>Contact</span>
                                    </a>

                                </div>
                            </li>

                          




                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="cont-info">
                        <div class="item">
                            <h6>Phone :</h6>
                            <p>+91-8692011172 , +91-9811732091</p>
                        </div>
                        <div class="item">
                            <h6>Address :</h6>
                            <p>
                                C3-2602 ,
                                Cleo county,
                                Noida ,
                                sector 121,
                                UP 201307
                            </p>
                        </div>
                        <div class="item">
                            <h6>Email :</h6>
                            <p>quest@soulinsights.studio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== End Navgition ==================== -->


    <!-- ==================== Start wrapper ==================== -->
    <div class="wrapper">






        <!-- ==================== Start Header ==================== -->

        <section class="page-header">



            <section class="slider  slide-controls">
                <div class="swiper-container parallax-slider swiper-container-initialized swiper-container-horizontal">
                    <div class="swiper-wrapper"
                        style="transition-duration: 1000ms; transform: translate3d(-7335px, 0px, 0px);">


                        <div class="swiper-slide swiper-slide-active" data-swiper-autoplay="4000" data-swiper-slide-index="0" style="width: 1467px;">
                            <div class="bg-img valign" data-background="./img/homebanners/outcome .jpg" data-overlay-dark="3"
                                data-swiper-parallax="1139.25"
                                style="transform: translate3d(0px, 0px, 0px); background-image: url(&quot;./img/homeb anners/outcome.jpg&quot;); transition-duration: 1000ms;">
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-lg-7">

                                            <div class="caption-slider">
                                            

                                                <div class="col-lg-12 ">
                                                <h4 class="homepage-main-section-heading">
                                                    SOUL is a fresh thinking fusion <span class="stroke">insights studio</span> that delivers ROI in research.
                                                </h4>
                    
                                                <li class="wow fadeInUp" data-wow-delay=".2s">
                                                    <p class="homepage-description">We create meaningful research to generate insights for customer centric marketing strategies and HUMAN centric brand stories. </p>
                                                </li>
                                                <br />
                                                <a href="contact " class="btn-curve btn-lit homepage-section-cta"><span>Get In
                                                        Touch</span></a>                  

                    
                                                    </div>
                                                    </div>
                                        </div>



                                        <div class="col-lg-5">
                                            <img src="./img/homebanners/emoation-homepage.png" class="homepage-main-section-image" />
                                        </div>

                                    </div>
                                </div>

                                <div class="social active">
                
                                    <a target="_blank" href="https://www.linkedin.com/in/soul-insights-57b284211/">
                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                    </a>
                                    <a target="_blank" href="https://twitter.com/soul_insights"><i class="fa fa-twitter"
                                            aria-hidden="true"></i>
                                    </a>
                                    <a target="_blank" href=" https://instagram.com/soul_a_HUMAN_insights_studio?igshid=1bp32t6bylqat">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                    <a target="_blank" href=" https://www.facebook.com/SOUL-A-HUMAN-Insights-Studio-106735261573689">
                                        <i class="fa fa-facebook-square" aria-hidden="true"></i> </a>
                                </div>
                            </div>
                        </div>
                    

                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                            data-swiper-slide-index="2" style="width: 1467px;">
                            <div class="bg-img valign" data-background="./img/homebanners/outcome.jpg" data-overlay-dark="3"
                                data-swiper-parallax="1139.25"
                                style="transform: translate3d(1139.25px, 0px, 0px); background-image: url(&quot;./img/homebanners/outcome.jpg&quot;); transition-duration: 1000ms;">
                                <div class="container" style="position: absolute; ;top: 10vh; z-index: 3 ;">
                                    <div class="row">
                                        <div class="col-lg-10 offset-lg-1">
                                            <div class="caption-slider">
                                                <h1>HUMAN CENTRICITY</h1>
                                                <a class="caption-slider-link" href="./ourphilosophy ">Explore More </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-duplicate-next" data-swiper-slide-index="3"
                            style="width: 1467px;">
                            <div class="bg-img valign" data-background="./img/homebanners/HUMAN.webp" data-overlay-dark="3"
                                data-swiper-parallax="1139.25"
                                style="transform: translate3d(1139.25px, 0px, 0px); background-image: url(&quot;./img/homebanners/HUMAN.webp&quot;); transition-duration: 1000ms;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-10 offset-lg-1">
                                            <div class="caption-slider">
                                                <h1>HUMAN CENTRICITY</h1>
                                                <a class="caption-slider-link" href="./ourphilosophy ">Explore More </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-slide-index="4" style="width: 1467px;">
                            <div class="bg-img valign" data-background="./img/homebanners/emotional.webp"
                                data-overlay-dark="3" data-swiper-parallax="1139.25"
                                style="transform: translate3d(1139.25px, 0px, 0px); background-image: url(&quot;./img/homebanners/emotional.webp&quot;); transition-duration: 1000ms;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-10 offset-lg-1">
                                            <div class="caption-slider">
                                                <h1>EMOTIONAL DATA</h1>
                                                <a class="caption-slider-link" href="./ourphilosophy ">Explore More </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-slide-index="5" style="width: 1467px;">
                            <div class="bg-img valign" data-background="./img/homebanners/fusion.webp" data-overlay-dark="3"
                                data-swiper-parallax="1139.25"
                                style="transform: translate3d(1139.25px, 0px, 0px); background-image: url(&quot;./img/homebanners/fusion.webp&quot;); transition-duration: 1000ms;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-10 offset-lg-1">
                                            <div class="caption-slider">
                                                <h1>FUSION</h1>
                                                <a class="caption-slider-link" href="./ourphilosophy ">Explore More </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="6" style="width: 1467px;">
                            <div class="bg-img valign namaste-image" data-background="./img/homebanners/culture.jpeg"
                                data-overlay-dark="3" data-swiper-parallax="1139.25"
                                style="transform: translate3d(1139.25px, 0px, 0px); background-image: url(&quot;./img/homebanners/culture.jpeg&quot;); transition-duration: 1000ms;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-10 offset-lg-1">
                                            <div class="caption-slider">
                                                <h1>MEANING IN THE BACKDROP OF CULTURE</h1>
                                                <a class="caption-slider-link" href="./ourphilosophy ">Explore More </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="7" style="width: 1467px;">
                            <div class="bg-img valign" data-background="./img/homebanners/outcome.jpg" data-overlay-dark="3"
                                data-swiper-parallax="1139.25"
                                style="transform: translate3d(0px, 0px, 0px); background-image: url(&quot;./img/homebanners/outcome.jpg&quot;); transition-duration: 1000ms;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-10 offset-lg-1">
                                            <div class="caption-slider">
                                                <h1>OUTCOMEs DETERMINE ACTIONS</h1>
                                                <a class="caption-slider-link" href="./ourphilosophy ">Explore More </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                   
    
    
    
                    </div>
    
    
    
                    <!-- slider setting -->
                    <div class="swiper-button-next swiper-nav-ctrl next-ctrl" tabindex="0" role="button"
                        aria-label="Next slide">
                        <i class="fas fa-caret-right"></i>
                    </div>
                    <div class="swiper-button-prev swiper-nav-ctrl prev-ctrl" tabindex="0" role="button"
                        aria-label="Previous slide">
                        <i class="fas fa-caret-left"></i>
                    </div>
                    <div class="swiper-pagination swiper-pagination-fraction"><span
                            class="swiper-pagination-current">5</span> <span class="swiper-pagination-total">5</span></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </section>
    


           

        </section>

        <!-- ==================== Start Header ==================== -->



        <div class="main-content" style="margin-top: 5vh; padding: 0;">




            <!-- ==================== Start Video Section ==================== -->
            <section class="process section-padding pb-0 bg-pattern bg-img no-cover " data-background="img/pattern.svg">

     


                <div class="bg-box">
                    <div class="background bg-img parallaxie" data-background="./img/thumbnail.jpg" 
                    style="background-size: contain; background-position: center top; height: 60vh;" data-overlay-dark="4">

                        <a class="vid valign">
                            <div class="vid-butn">
                                <span class="icon" onclick="videoPlayPause()" type="button" class="btn btn-primary"
                                    data-toggle="modal" data-target="#videomodal">
                                    <i class="fas fa-play"></i>
                                </span>
                            </div>
                        </a>

                    </div>

                    <div class="container-fluid on-top">
                        <div class="row">
                            <div class="col-lg-5 offset-lg-7 content">
                                <h4 class="wow" data-splitting>
                                    Our specialty as insights practitioners can be seen in our offer.
                                </h4>
                                <ul>
                                    <li class="wow fadeInUp" data-wow-delay=".3s">
                                        <span class="numb nmb-font">01</span>
                                        <div class="cont">
                                            <h5>Curating the research experience </h5>
                                            <p>from recruitments to research instruments design, analysis constructs and the outcome dissemination.</p>
                                        </div>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-delay=".3s">
                                        <span class="numb nmb-font">02</span>
                                        <div class="cont">
                                            <h5>Recruiting right </h5>
                                            <p>by identifying the right TG (psychographic, lifestyle filters) at the right places (social media, referential recruitments).</p>
                                        </div>
                                    </li>
                                    <li class="wow fadeInUp" data-wow-delay=".3s">
                                        <span class="numb nmb-font">03</span>
                                        <div class="cont">
                                            <h5>Activation of insights </h5>
                                            <p>through actionable, simple and interesting outcomes.  </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ==================== End Video Section  ==================== -->



            <!-- ==================== Start What we do ==================== -->

            <section class="story-section section-padding mt-15vh" id="whatwedoSection">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 ">
                            <div class="content">
                                <h2 class="wow" data-splitting>What we do</h2>
                                <br>

                                <ul class="feat">
                                    <li class="wow fadeInUp" data-wow-delay=".2s">

                                        <!-- <p>SOUL, a pandemic start up started by 2 qualitative research.</p> -->

                                    </li>

                                </ul>
                            </div>
                        </div>
                        <br />


                        <!-- ====================What we do cards ==================== -->

                        <div class="col-lg-6 col-sm-12 explore-section-cards-col ">
                            <div class="explore-section-cards">
                                <h4>EXPLORE</h4>
                                <ul class="explore-section-cards-ul">
                                    <li>Category understanding</li>
                                    <li>Cultural decoding</li>
                                    <li>Semiotics</li>
                                    <li>Ethnography – Mobile/online</li>
                                    <li>Psychographic profiling</li>
                                    <li>Brand Audit</li>
                                    <li>Channel understanding</li>
                                    <li>Social Media listening and analytics</li>
                                    <li>Journey Mapping – Online/shopper
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <div class="col-lg-6 col-sm-12 explore-section-cards-col">
                            <div class="explore-section-cards">
                                <h4>INNOVATE </h4>
                                <ul class="explore-section-cards-ul">
                                    <li>New product development </li>
                                    <li>Ideation workshop</li>
                                    <li>UX/UI research</li>

                                </ul>
                            </div>
                        </div>


                        <div class="col-lg-6 col-sm-12  explore-section-cards-col">
                            <div class="explore-section-cards">
                                <h4>VALIDATE</h4>
                                <ul class="explore-section-cards-ul">
                                    <li>Concept testing </li>
                                    <li>Ad testing – pre and post launch </li>
                                    <li>Pack testing </li>
                                    <li>Brand Tracking and Performance Studies</li>
                                    <li>Quantitative research</li>
                                    <li>Satisfaction studies </li>
                                    <li>Product testing</li>
                                    <li>Idea screening</li>
                                    
                                </ul>
                            </div>
                        </div>



                        <div class="col-lg-6 col-sm-12 explore-section-cards-col ">
                            <div class="explore-section-cards">
                                <h4>STRATEGIZE</h4>
                                <ul class="explore-section-cards-ul">
                                    <li>White space mapping </li>
                                    <li>GTM strategy and advisory </li>
                                    <li>Market mapping and competitive intelligence</li>
                                  
                                </ul>
                            </div>
                        </div>





                    </div>
                </div>
        </div>
        </section>

        <!-- ====================End What we do Story ==================== -->



   <!-- ====================Our Methodology Section ==================== -->
        <section class="team-section mt-15vh section-padding">
            <div class="container">
                <h2 class="wow mb-30" data-splitting>Our Methodologies</h2>

                <div class="row justify-space-around methodology-icon-row" >


                    <div class="col-lg-3 col-sm-6 methodology-icon-card">
                        <center>
                        <span><img src="./img/icons methodologies/Depth interview.png"/></span>
                        
                        <h6 style="margin-top: 8px;">Depth Interview</h6>
                    </center>
                    </div>

                    <div class="col-lg-3 col-sm-6 methodology-icon-card">
                        <center>
                        <span><img src="./img/icons methodologies/Group discussion.png"/></span>
                        
                        <h6 style="margin-top: 8px;">Group Discussions</h6>
                    </center>
                    </div>

                    <div class="col-lg-3 col-sm-6 methodology-icon-card">
                        <center>
                        <span><img src="./img/icons methodologies/Ethnography.png"/></span>
                        
                        <h6 style="margin-top: 8px;">Ethnography, Netnography and Mobile Ethnography</h6>
                    </center>
                    </div>

                    <div class="col-lg-3 col-sm-6 methodology-icon-card">
                        <center>
                        <span><img src="./img/icons methodologies/Communities.png"/></span>
                        
                        <h6 style="margin-top: 8px;">Communities</h6>
                    </center>
                    </div>

                    <div class="col-lg-3 col-sm-6 methodology-icon-card">
                        <center>
                        <span><img src="./img/icons methodologies/social media analytics.png"/></span>
                        
                        <h6 style="margin-top: 8px;">Social media analytics </h6>
                    </center>
                    </div>

                    <div class="col-lg-3 col-sm-6 methodology-icon-card">
                        <center>
                        <span><img src="./img/icons methodologies/survey.png"/></span>
                        
                        <h6 style="margin-top: 8px;">Surveys- F2F and Online</h6>
                    </center>
                    </div>

                    <div class="col-lg-3 col-sm-6 methodology-icon-card">
                        <center>
                        <span><img src="./img/icons methodologies/panels.png"/></span>
                        
                        <h6 style="margin-top: 8px;">Panels</h6>
                    </center>
                    </div>

                    <div class="col-lg-3 col-sm-6 methodology-icon-card">
                        <center>
                        <span><img src="./img/icons methodologies/Clinics.png"/></span>
                        
                        <h6 style="margin-top: 8px;">Clinics</h6>
                    </center>
                    </div>


                </div>
            </div>
        </section>
   <!-- ====================Our Speciality Section ==================== -->

 
   <!-- ====================Our Methodology Section ==================== -->
    
   <section class="blog-grid section-padding pb-0 ">
    <div class="stories "></div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3">
                <div class="item  fadeInUp md-mb50" data--delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="post-img">
                        <div class="img explore-img">
                            <img src="./img/homebanners/What we do images/Image for explore.jpg" alt="">
                        </div>
                    </div>
                    <div class="cont">
                    
                        <h4><a href="OurSpeciality ">EXPLORE</a></h4>

                        <div class="info">
                           
                           
                            
                        </div>

                        <a href="OurSpeciality " class="more">
                            <span style="color : black ;">Read More <i class="icofont-caret-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="item  fadeInUp md-mb50" data--delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="post-img">
                        <div class="img explore-img">
                            <img src="./img/homebanners/What we do images/Image for innovate.jpg" alt="">
                        </div>
                    </div>
                    <div class="cont">
                    
                        <h4><a href="OurSpeciality ">INNOVATE</a></h4>

                        <div class="info">
                           
                           
                            
                        </div>

                        <a href="OurSpeciality " class="more">
                            <span style="color : black ;">Read More <i class="icofont-caret-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="item  fadeInUp md-mb50" data--delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="post-img">
                        <div class="img explore-img">
                            <img src="./img/homebanners/What we do images/Image for validate.jpg" alt="">
                        </div>
                    </div>
                    <div class="cont">
                    
                        <h4><a href="OurSpeciality ">VALIDATE</a></h4>

                        <div class="info">
                           
                           
                            
                        </div>

                        <a href="OurSpeciality " class="more">
                            <span style="color : black ;">Read More <i class="icofont-caret-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="item  fadeInUp md-mb50" data--delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <div class="post-img">
                        <div class="img explore-img">
                            <img src="./img/homebanners/What we do images/Imageforstrategize-min.jpg" alt="">
                        </div>
                    </div>
                    <div class="cont">
                    
                        <h4><a href="OurSpeciality ">STRATEGIZE</a></h4>

                        <div class="info">
                           
                           
                            
                        </div>

                        <a href="OurSpeciality " class="more">
                            <span style="color : black ;">Read More <i class="icofont-caret-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
</section>

       <!-- ====================Our Speciality Section Ends here  ==================== -->






        <!-- ====================Start Team Section ==================== -->
        <section class="team-section mt-15vh section-padding">
            <div class="container">
                <h2 class="wow mb-30" data-splitting>Meet Our Creative Minds</h2>

                <div class="row justify-space-around">


                    <div class="col-lg-3 col-md-6">
                        <div class="item mb-30">
                            <div class="img">
                                <img class="thumparallax team-image" src="img/team/1.jpg" alt="">
                                <div class="info">
                                    <br>
                                    <h6>Akanksha &nbsp;<a href="https://www.linkedin.com/mwlite/in/akankshapokhriyal" target="_blank" ><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                    
                                    </h6>
                                    <p>Founding Partner</p>

                                    <p style="line-height: 1.2;">
                                        Born empath, accidental Quallie. Views consumer insights as an extension of HUMAN life itself.
                                        Believes in sharing learnings through presenting at conferences, teaching at academic institutions. 
                                        Based out of Delhi, India.   
                                        </p>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="item mb-30">
                            <div class="img">
                                <img class="thumparallax team-image" src="img/team/pooja.jpg" alt="">
                                <div class="info">
                                    <br>
                                    <h6>Pooja

                                        &nbsp;<a href="https://www.linkedin.com/in/poojapengonda" target="_blank" ><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>

                                    </h6>
                                    <p>Founding Partner</p>
                                    <p style="line-height: 1.25;">
                                        Fascination with the HUMAN keeps Pooja engaged with qualitative research.
She finds joy in unraveling HUMAN stories.
Based out of Bangalore, India 
</p>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="item mb-30">
                            <div class="img">
                                <img class="thumparallax team-image" src="img/team/Meenu.jpg" alt="">
                                <div class="info">
                                    <br>
                                    <h6>Meenu  &nbsp;<a href="https://www.linkedin.com/in/meenu-kapoor-a5a0374" target="_blank" ><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                    
                                    </h6>
                                    <p>Founding Contributor</p>
                                    <p style="line-height: 1.25;">
                                        Practitioner and advocate of interdisciplinary approach for problem-solving.
                                        Believes in the synergy of different aspects leading to a result that is greater than the simple sum. 
                                        Keen interest in brand strategy, consumer intelligence and cultural understanding. 
                                        Based out of Kenya and India 
                                        
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6">
                        <div class="item mb-30">
                            <div class="img">
                                <img class="thumparallax team-image" src="img/team/Krishna.jpg" alt="">
                                <div class="info">
                                    <br>
                                    <h6>Krishna  &nbsp;<a href="https://www.linkedin.com/in/krishnasundararajan/" target="_blank" ><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                    
                                    </h6>
                                    <p>Founding Contributor</p>
                                    <p style="line-height: 1.25;">
                                        A brand architect and a proven strategist with hands on experience in brand and communications, ad evaluation and stake holder management. Experience across diverse cultures spanning India, Africa, SEA to China.
                                        Based out of India.
                                        </p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- ====================End Team Section  ==================== -->



 <!-- ==================== Start Our Story ==================== -->

 <section class="story-section ">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 ">
                <div class="content">
                    <h2 class="wow" data-splitting>Our Story</h2>
                    <br>

                    <ul class="feat">
                        <li class="wow fadeInUp" data-wow-delay=".2s">

                            <p>SOUL began with the coming together of two qualitative research practitioners out of their home workstations and a handful of clients. With SOUL, they are calling for a sharp focus on ‘mindful’ HUMAN understanding. </p>

                        </li>
                        <br />
                        <div class="col-md-4 col-lg-3 valign pl-0">
                            <a href="about " class="btn-curve btn-blck"><span>Read More</span></a>
                        </div>
                    </ul>
                </div>
                </p>
            </div>
        </div>


    </div>
</div>
</section>

<!-- ====================End Our Story ==================== -->


  



    <!-- ==================== Start Testimonials ==================== -->

    <!-- <section class="testimonials section-padding">
                <div class="container">

                    <div class="title">
                        <h5 class="wow" data-splitting>Testimonials</h5>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 offset-lg-1 positive-r">
                            <div class="slider-for wow fadeInUp" data-wow-delay=".3s">
                                <div class="info">
                                    <div class="author">
                                        <img src="img/clients/1.jpg" alt="">
                                    </div>
                                    <h6>Alex Martin <span>soulinsights Customer</span> </h6>
                                </div>
                                <div class="info">
                                    <div class="author">
                                        <img src="img/clients/2.jpg" alt="">
                                    </div>
                                    <h6>Alex Martin <span>soulinsights Customer</span> </h6>
                                </div>
                                <div class="info">
                                    <div class="author">
                                        <img src="img/clients/3.jpg" alt="">
                                    </div>
                                    <h6>Alex Martin <span>soulinsights Customer</span> </h6>
                                </div>
                            </div>
                            <div class="navs wow fadeIn" data-wow-delay=".3s">
                                <span class="next">
                                    <i class="ion-ios-arrow-right"></i>
                                </span>
                                <span class="prev">
                                    <i class="ion-ios-arrow-left"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-8 quote-text">
                            <div class="slider-nav wow fadeInUp" data-wow-delay=".3s">
                                <div class="item">
                                    <div class="cont">
                                        <p>" Nulla metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat
                                            condimentum velit class aptent taciti sociosqu ad litora torquent per
                                            conubia
                                            nostra. "
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cont">
                                        <p>" Nulla metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat
                                            condimentum velit class aptent taciti sociosqu ad litora torquent per
                                            conubia
                                            nostra. "
                                        </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cont">
                                        <p>" Nulla metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat
                                            condimentum velit class aptent taciti sociosqu ad litora torquent per
                                            conubia
                                            nostra. "
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <span class="quote-icon wow fadeInUp" data-wow-delay=".5s"><img src="img/icons/quote.svg"
                                    alt=""></span>
                        </div>
                    </div>
                </div>
            </section> -->
    <!-- ==================== End Testimonials ==================== -->





    <!-- ==================== Start call-to-action ==================== -->

    <section class="call-action section-padding" data-overlay-dark="0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="content sm-mb30">
                        <h6 class="wow" data-splitting><strong><strong></strong>Let’s Talk</strong></strong> </h6>
                        <h2 class="wow" data-splitting>about your <b>next project</b>.</h2>
                        <p class="wow txt" data-splitting>Get research solutions. Everyone is a potential
                            creator.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-lg-3 valign">
                    <a href="contact " class="btn-curve btn-lit"><span>Get In Touch</span></a>
                </div>

            </div>
        </div>
    </section>

    <!-- ==================== End call-to-action ==================== -->



    <!-- ==================== Start footer-sm ==================== -->

    <footer class="footer-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4">
                    <div class="left">
                        <p>All right reserved.</p>
                    </div>
                </div>


                <div class="col-lg-6 col-md-8">


                    <div class="right" style="display: flex; align-items: center;">
                       <p>SOUL - A HUMAN Insights Studio. Made with passion by &nbsp; </p> <a 
                       style="color : #e6e666"
                       href="https://www.thebrandwick.com/" target="_blank"> TheBrandwick. </a>
                    </div>


                    
                </div>
            </div>
        </div>
    </footer>

    <!-- ==================== End footer-sm ==================== -->

    </div>

    </div>

    <!-- ==================== End wrapper ==================== -->



    <!-- ==================== Start cursor ==================== -->

    <div class="cursor"></div>
    <div class="cursor2"></div>

    <!-- ==================== End cursor ==================== -->




    <!-- jQuery -->
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="js/scripts.js"></script>




</body>



</html>