<!DOCTYPE html>
<html lang="zxx">


<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Kono onepage themeforest" />
    <meta name="description" content="Kono - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>HUMAN Ecentricity</title>

    <!-- Favicon -->
     <link rel="shortcut icon" href="img/favicon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&amp;display=swap" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="css/style.css" />

</head>

<body class="light">

    <!-- ==================== Start Loading ==================== -->

    <div id="preloader">
        <div class="loading-text">Loading</div>
    </div>

    <!-- ==================== End Loading ==================== -->


    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->


    <!-- ==================== Start Navgition ==================== -->

    <div id="navi" class="topnav">
        <div class="container-fluid">
            <div class="logo">
                <a href="/">
                    <p class="logo-text"> SOUL - A HUMAN Insights Studio</p></a>
            </div>
            <div class="menu-icon">
                <span class="icon">
                    <i></i>
                    <i></i>
                </span>
                <span class="text" data-splitting>Menu</span>
            </div>
        </div>
    </div>

  
 
    <div class="hamenu">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="menu-links">
                        <ul class="main-menu">
                            <li>
                                <div class="o-hidden">
                                    <a href="/ "> <span class="link dmenu"><span class="nm">01.</span>Home
                                        </span></a>
                                </div>

                            </li>
                            <li>
                                <div class="o-hidden">
                                    <a href="./ #whatwedoSection" class="link"><span class="nm">02.</span>What
                                        We Do</a>
                                </div>
                            </li>

                            <li>
                                <div class="o-hidden">
                                    <a href="OurSpeciality " class="link"><span class="nm">03.</span>Our Speciality</a>
                                </div>
                            </li>

                            <li>
                                <div class="o-hidden">
                                    <a href="about " class="link"><span class="nm">04.</span>Our Story</a>
                                </div>
                            </li>




                            <li>
                                <div class="o-hidden">
                                    <a href='./blogs'><span class="link dmenu">
                                            <span class="nm">05.</span>Blogs </span>
                                    </a>

                                </div>
                            </li>   
                            
                            <li>
                                <div class="o-hidden">
                                    <a href="./genises "> <span class="link dmenu"><span class="nm">06.</span>Other
                                            Initiative : BE(-ing)</a>
                                </div>
                            </li>
                            
                            <li>
                                <div class="o-hidden">
                                    <a href="contact "><span class="link dmenu">
                                            <span class="nm">07.</span>Contact</span>
                                    </a>

                                </div>
                            </li>

                          




                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="cont-info">
                        <div class="item">
                            <h6>Phone :</h6>
                            <p>+91-8692011172 , +91-9811732091</p>
                        </div>
                        <div class="item">
                            <h6>Address :</h6>
                            <p>
                                C3-2602 ,
                                Cleo county,
                                Noida ,
                                sector 121,
                                UP 201307
                            </p>
                        </div>
                        <div class="item">
                            <h6>Email :</h6>
                            <p>quest@soulinsights.studio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== End Navgition ==================== -->


    <!-- ==================== Start wrapper ==================== -->

    <div class="wrapper">


        <!-- ==================== Start Header ==================== -->

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">   
                        <div class="cont">

<h4>
    Our philosophy is rooted in five principles. <span class="stroke">HUMAN's </span> culture.
  
   
</h4>


                        </div>
                    </div>
                </div>
            </div>
            <div class="img-wrapper bg-img parallaxie" >
                <div class="title">
                    <div class="container">
                        <h3>PHILOSOPHY</h3>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== Start Header ==================== -->



        <!-- ==================== Start Intro ==================== -->

        <section class="intro-section section-padding">
            <div class="container">
                <div class="row">
                   

                    <br>

                    <div class="col-lg-12 col-md-12 mt-5vh">
                        <div class="content">
                            <h2  data-splitting>HUMAN CENTRICITY</h2>
                           <br>

                            <ul class="feat">
                                <li >
                                
                                    <p>We go where today’s consumers are, and even take the marketers there 🡪 We keep a sharp focus on the ‘HUMAN’ in insights (and marketing). </p>
                                </li>
                           
                              
                             
                            </ul>
                        </div>
                        </div>


                        <br>

                        <div class="col-lg-12 col-md-12 mt-5vh ">
                            <div class="content">
                                <h2 class="" data-splitting>EMOTIONAL DATA</h2>
                               <br>
    
                                <ul class="feat">
                                    <li class="fadeInUp" data-wow-delay=".2s">
                                        <p>Data which is drawn from the philosophy of ‘mindfulness.’ means not talking to the skin of the consumer, but their soul.
                                            <br/>
                                            This helps collect data that is revelatory in nature. Active and deep listening, which is free of bias and judgment guides our consumer connection.
                                             </p>
                                    </li>
                                </ul>
                            </div>
                            </div>


                            <div class="col-lg-12 col-md-12 mt-5vh ">
                                <div class="content">
                                    <h2 class="" data-splitting>FUSION</h2>
                                   <br>
        
                                    <ul class="feat">
                                        <li class=" fadeInUp" data-wow-delay=".2s">
                                            <p>Integration of learnings from multiple data sources. Drawing insights from various disciplines and collaborating with different sectoral experts </p>
                                        </li>
                                    </ul>
                                </div>
                                </div>



                            <div class="col-lg-12 col-md-12 mt-5vh ">
                                <div class="content">
                                    <h2 class="" data-splitting>MEANING IN THE BACKDROP OF CULTURE</h2>
                                   <br>
        
                                    <ul class="feat">
                                        <li class="fadeInUp" data-wow-delay=".2s">
                                            <p>There are many brand truths that exist (most obvious, and some hidden), we believe that brands need to identify the most relevant and unique truths for themselves. All of these truths however need to be decoded in the backdrop of culture alone for better connect with the HUMAN.  </p>
                                        </li>
                                    </ul>
                                </div>
                                </div>




                                <div class="col-lg-12 col-md-12 mt-5vh ">
                                    <div class="content">
                                        <h2 class="" data-splitting>OUTCOMEs DETERMINE ACTIONS, INSIGHTS & ACTIVATION</h2>
                                       <br>
            
                                        <ul class="feat">
                                            <li class=" fadeInUp" data-wow-delay=".2s">
                                                <p>ROI delivered through creativity Simplification and Activation. This is done via storytelling and honest consumer data collection. Such data would be expansive, relevant, and connects the dots of the HUMAN story. We believe the translation of insights is as critical as the generation process. </p>
                                            </li>
                                        </ul>
                                    </div>
                                    </div>




                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== End Intro ==================== -->




        <!-- ==================== Start Minimal-Area ==================== -->

        <!-- <section class="min-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="img" >
                            <div class="simpleParallax">
                            <img class="thumparallax-down" src="img/logo1.png" alt="">
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-6 valign">
                        <div class="content">
                            <h4 class="wow" data-splitting>IDENTITY OF THE SOUL </h4>
                            <p class="wow txt" data-splitting>SOUL’s meaning comes alive with its logo - an amalgamation of 3 inspiring elements. SOUL is the coming together of these elements and brings alive the attributes which leads to a mindful transformation of the research process itself

                            </p>
                            <ul class="feat">
                                <li class="wow fadeInUp" data-wow-delay=".2s">
                                    <h6><span>1</span> The Bindu painting </h6>
                                    <p>The Bindu painting by S H Raza calls attention to a dot that could indicate many things – a zero or the nucleus. A zero can be the starting point or the end. The nucleus can be the starting point or the core essence of life. This is analogous to SOUL
                                    </p>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay=".4s">
                                    <h6><span>2</span> The Vitruvian Man represents </h6>
                                    <p>The Vitruvian Man represents the HUMAN centricity in research
                                    </p>
                                </li>
                                <li class="wow fadeInUp" data-wow-delay=".6s">
                                    <h6><span>3</span> The Rainbow</h6>
                                    <p>The Rainbow signifies VIBGYOR and each color represents an association and an influence. Similarly, there is no singular (brand) truth and hence each brand needs to identify the most relevant and unique (brand) truth
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- ==================== End Minimal-Area ==================== -->



   



        <!-- ==================== Start Testimonials ==================== -->

        <!-- <section class="testimonials section-padding o-hidden">
            <div class="container">

                <div class="title">
                    <h5 class="wow" data-splitting>Testimonials</h5>
                </div>

                <div class="row">
                    <div class="col-lg-3 offset-lg-1 positive-r">
                        <div class="slider-for wow fadeInUp" data-wow-delay=".3s">
                            <div class="info">
                                <div class="author">
                                    <img src="img/clients/1.jpg" alt="">
                                </div>
                                <h6>Alex Martin <span>Envato Customer</span> </h6>
                            </div>
                            <div class="info">
                                <div class="author">
                                    <img src="img/clients/2.jpg" alt="">
                                </div>
                                <h6>Alex Martin <span>Envato Customer</span> </h6>
                            </div>
                            <div class="info">
                                <div class="author">
                                    <img src="img/clients/3.jpg" alt="">
                                </div>
                                <h6>Alex Martin <span>Envato Customer</span> </h6>
                            </div>
                        </div>
                        <div class="navs wow fadeIn" data-wow-delay=".3s">
                            <span class="next">
                                <i class="ion-ios-arrow-right"></i>
                            </span>
                            <span class="prev">
                                <i class="ion-ios-arrow-left"></i>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-8 quote-text">
                        <div class="slider-nav wow fadeInUp" data-wow-delay=".3s">
                            <div class="item">
                                <div class="cont">
                                    <p>" Nulla metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat
                                        condimentum velit class aptent taciti sociosqu ad litora torquent per
                                        conubia
                                        nostra. "
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="cont">
                                    <p>" Nulla metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat
                                        condimentum velit class aptent taciti sociosqu ad litora torquent per
                                        conubia
                                        nostra. "
                                    </p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="cont">
                                    <p>" Nulla metus ullamcorper vel tincidunt sed euismod nibh Quisque volutpat
                                        condimentum velit class aptent taciti sociosqu ad litora torquent per
                                        conubia
                                        nostra. "
                                    </p>
                                </div>
                            </div>
                        </div>
                        <span class="quote-icon wow fadeInUp" data-wow-delay=".5s"><img src="img/icons/quote.svg"
                                alt=""></span>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- ==================== End Testimonials ==================== -->




        <!-- ==================== Start clients Brands ==================== -->

        <!-- <section class="clients section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="intro mb-80">
                            <h6 class="sub-title wow" data-splitting>OUR CLIENTS</h6>
                            <h2 class="extra-title wow" data-splitting>Some friends have made while working
                                together.
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row bord">
                    <div class="col-md-3 col-6 brands">
                        <div class="item wow fadeIn" data-wow-delay=".3s">
                            <div class="img">
                                <img src="img/clients/brands/1.png" alt="">
                            </div>
                            <a href="#0" class="link" data-splitting>www.Soulinsights.com</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 brands">
                        <div class="item wow fadeIn" data-wow-delay=".6s">
                            <div class="img">
                                <img src="img/clients/brands/2.png" alt="">
                            </div>
                            <a href="#0" class="link" data-splitting>www.Soulinsights.com</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 brands">
                        <div class="item wow fadeIn" data-wow-delay=".8s">
                            <div class="img">
                                <img src="img/clients/brands/3.png" alt="">
                            </div>
                            <a href="#0" class="link" data-splitting>www.Soulinsights.com</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 brands">
                        <div class="item wow fadeIn" data-wow-delay=".3s">
                            <div class="img">
                                <img src="img/clients/brands/4.png" alt="">
                            </div>
                            <a href="#0" class="link" data-splitting>www.Soulinsights.com</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-6 brands">
                        <div class="item wow fadeIn" data-wow-delay=".4s">
                            <div class="img">
                                <img src="img/clients/brands/5.png" alt="">
                            </div>
                            <a href="#0" class="link" data-splitting>www.Soulinsights.com</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 brands">
                        <div class="item wow fadeIn" data-wow-delay=".7s">
                            <div class="img">
                                <img src="img/clients/brands/6.png" alt="">
                            </div>
                            <a href="#0" class="link" data-splitting>www.Soulinsights.com</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 brands">
                        <div class="item wow fadeIn" data-wow-delay=".5s">
                            <div class="img">
                                <img src="img/clients/brands/7.png" alt="">
                            </div>
                            <a href="#0" class="link" data-splitting>www.Soulinsights.com</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 brands">
                        <div class="item wow fadeIn" data-wow-delay=".3s">
                            <div class="img">
                                <img src="img/clients/brands/8.png" alt="">
                            </div>
                            <a href="#0" class="link" data-splitting>www.Soulinsights.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- ==================== End clients Brands ==================== -->




        <!-- ==================== Start call-to-action ==================== -->

        <section class="call-action nogif">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <div class="content">
                            <h6 class="wow" data-splitting><strong>Let’s Talk</strong></h6>
                            <h2 class="wow" data-splitting>Contact <b>Us</b>.</h2>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3 valign">
                        <a href="contact " class="btn-curve btn-lit"><span>Get In Touch</span></a>
                    </div>

                </div>
            </div>
        </section>

        <!-- ==================== End call-to-action ==================== -->



        <!-- ==================== Start footer-sm ==================== -->

        <footer class="footer-sm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                        <div class="left">
                            <p>All right reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <div class="right" style="display: flex; align-items: center;">
                            <p>SOUL - A HUMAN Insights Studio. Made with passion by &nbsp; </p> <a 
                            style="color : #e6e666"
                            href="https://www.thebrandwick.com/" target="_blank"> TheBrandwick. </a>
                         </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- ==================== End footer-sm ==================== -->


    </div>

    <!-- ==================== End wrapper ==================== -->



    <!-- ==================== Start cursor ==================== -->

    <div class="cursor"></div>
    <div class="cursor2"></div>

    <!-- ==================== End cursor ==================== -->




    <!-- jQuery -->
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="js/scripts.js"></script>


</body>


</html>