<!DOCTYPE html>
<html lang="zxx">



<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="keywords" content="HTML5 Template Kono onepage themeforest" />
    <meta name="description" content="Kono - Onepage Multi-Purpose HTML5 Template" />
    <meta name="author" content="" />

    <!-- Title  -->
    <title>Our Speciality</title>

    <!-- Favicon -->
     <link rel="shortcut icon" href="img/favicon.png" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&amp;display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&amp;display=swap" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- Core Style Css -->
    <link rel="stylesheet" href="css/style.css" />

</head>

<body class="light">

    <!-- ==================== Start Loading ==================== -->

    <div id="preloader">
        <div class="loading-text">Loading</div>
    </div>

    <!-- ==================== End Loading ==================== -->


    <!-- ==================== Start progress-scroll-button ==================== -->

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <!-- ==================== End progress-scroll-button ==================== -->


    <!-- ==================== Start Navgition ==================== -->

    <div id="navi" class="topnav">
        <div class="container-fluid">
            <div class="logo">
                <a href="/">
                    <p class="logo-text"> SOUL - A HUMAN Insights Studio</p></a>
            </div>
            <div class="menu-icon">
                <span class="icon">
                    <i></i>
                    <i></i>
                </span>
                <span class="text" data-splitting>Menu</span>
            </div>
        </div>
    </div>

    <div class="hamenu">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="menu-links">
                        <ul class="main-menu">
                            <li>
                                <div class="o-hidden">
                                    <a href="/"> <span class="link dmenu"><span class="nm">01.</span>Home
                                        </span></a>
                                </div>

                            </li>
                            <li>
                                <div class="o-hidden">
                                    <a href="./#whatwedoSection" class="link"><span class="nm">02.</span>What
                                        We Do</a>
                                </div>
                            </li>

                            <li>
                                <div class="o-hidden">
                                    <a href="OurSpeciality " class="link"><span class="nm">03.</span>Our Speciality</a>
                                </div>
                            </li>

                            <li>
                                <div class="o-hidden">
                                    <a href="about " class="link"><span class="nm">04.</span>Our Story</a>
                                </div>
                            </li>




                            <li>
                                <div class="o-hidden">
                                    <a href='./blog'><span class="link dmenu">
                                            <span class="nm">05.</span>Blogs </span>
                                    </a>

                                </div>
                            </li>   
                            
                            <li>
                                <div class="o-hidden">
                                    <a href="./genises "> <span class="link dmenu"><span class="nm">06.</span>Other
                                            Initiative : BE(-ing)</a>
                                </div>
                            </li>
                            
                            <li>
                                <div class="o-hidden">
                                    <a href="contact "><span class="link dmenu">
                                            <span class="nm">07.</span>Contact</span>
                                    </a>

                                </div>
                            </li>

                          




                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="cont-info">
                        <div class="item">
                            <h6>Phone :</h6>
                            <p>+91-8692011172 , +91-9811732091</p>
                        </div>
                        <div class="item">
                            <h6>Address :</h6>
                            <p>
                                C3-2602 ,
                                Cleo county,
                                Noida ,
                                sector 121,
                                UP 201307
                            </p>
                        </div>
                        <div class="item">
                            <h6>Email :</h6>
                            <p>quest@soulinsights.studio</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==================== End Navgition ==================== -->





    <!-- ==================== Start wrapper ==================== -->

    <div class="wrapper">


        <!-- ==================== Start Header ==================== -->

        <section class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9">   
                        <div class="cont">

<h4>
    We want to curate research experiences through a fresh thinking lens of <span class="stroke">fusion</span> for end users and consumers.
</h4>


                        </div>
                    </div>
                </div>
            </div>
            <div class="img-wrapper bg-img parallaxie" >
                <div class="title">
                    <div class="container">
                        <h3>Our Speciality</h3>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== Start Header ==================== -->



         <!-- ==================== Start Offer Section ==================== -->
         <section class="min-area mt-15vh" id="ourOfferSection">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 valign">
                        <div style="margin-top: 20px;" class="content">
                            <h4 class="" data-splitting>Our Speciality </h4>


                            </p>
                            <ul class="feat">

                                <li class=" fadeInUp" data-wow-delay=".2s">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <h6><span>1</span> EXPLORE</h6>
                                                <ul>
                                                    <li style="margin: 5px; ">
                                                        <p>
                                                         1)	<strong>Research Over Social Media:</strong> Decoding consumer conversations on the internet.  
                                                        </p>
                                                    </li>
                                                    <li style="margin: 5px;">
                                                        <p>2)	<strong>HUMAN Playbook:</strong> Getting a holistic understanding of the HUMAN consumer and their subliminal behaviour through observation beyond engaging in conversations. </p>
                                                    </li>
                                                    <li style="margin: 5px;">
                                                        <p>3)	<strong>Culture Trails:</strong> Getting up close with the contextual understanding of the HUMAN through accompaniment and observation of their natural environment. </p>
                                                    </li>
                                                    <li style="margin: 5px;">
                                                        <p>4)	<strong>Know your channel partner:</strong> Understanding and measuring channel partners as HUMANs of the ecommerce ecosystems.  </p>
                                                    </li>

                                                </ul>

                                            </div>
                                            <div class="col-lg-6">

                                                <img class="offer-image" src="./img/homebanners/What we do images/Image for explore.jpg" />
                                            </div>
                                        </div>
                                    </div>


                                </li>

                                <li class="wow fadeInUp" data-wow-delay=".2s">
                                    <div class="container">
                                        <div class="row flex-wrap-reverse">
                                            <div class="col-lg-6">

                                                <img class="offer-image" src="./img/homebanners/What we do images/Image for innovate.jpg" />
                                            </div>
                                            <div class="col-lg-6">
                                                <h6><span>2</span>INNOVATE </h6>
                                                <ul>
                                                    <li style="margin: 5px;">
                                                        <p>
                                                            1)	<strong>Creative therapy interactions:</strong> Understanding the HUMAN context through engagement in therapeutic activities and sessions with consumers. 
                                                        </p>
                                                    </li>
                                                    <li style="margin: 5px;">
                                                        <p>
                                                            2)	<strong>Live Labs:</strong> Integrating research with live marketing activities for real-time feedback.
                                                        </p>
                                                    </li>
                                                    <li style="margin: 5px;">
                                                        <p>
                                                            3)	<strong>SOULd Communities:</strong> Recruiting through online communities, referential recruitment, etc. 
                                                        </p>
                                                    </li>
                                                    <li style="margin: 5px;">
                                                        <p>
                                                            4)	<strong>Visual Snippets:</strong> Reporting with videos as a window into the life of a HUMAN. 
                                                        </p>
                                                    </li>
                                                </ul>

                                            </div>

                                        </div>
                                    </div>


                                </li>

                                <li class="wow fadeInUp " data-wow-delay=".4s">
                                    <div class="container">
                                        <div class="row ">

                                            <div class="col-lg-6">
                                                <h6><span>3</span>VALIDATE</h6>
                                                <ul>
                                                    <li style="margin: 5px;">
                                                        <p>
                                                            1)<strong>	UI / UX research integration:</strong>  Including of realistic context and insights into design processes (ideal user personas, user journeys, etc with the help of qualitative research).  
                                                        </p>
                                                    </li>
                                                    <li style="margin: 5px;">
                                                        <p>2)	<strong>Sprint / Workshops:</strong>  Undertaking quick and pointed research with request to end delivery time-line of 3 to 5 days. </p>
                                                    </li>
                                                    <li style="margin: 5px;">
                                                        <p>3)	<strong>Online Panels:</strong> Creating communities of close-knit participants across various categories, brands, etc. </p>
                                                    </li>
                                                    <li style="margin: 5px;">
                                                        <p>4)	<strong>Quantitative Testing:</strong> Establishing bench-marks and measuring key metrics and action-standards.  </p>
                                                    </li>

                                                </ul>

                                            </div>
                                            <div class="col-lg-6">

                                                <img class="offer-image" src="./img/homebanners/What we do images/Image for validate.jpg" />
                                            </div>

                                        </div>
                                    </div>
                                </li>

                                <li class="wow fadeInUp" data-wow-delay=".2s">
                                    <div class="container">
                                        <div class="row flex-wrap-reverse">

                                            <div class="col-lg-6 ">

                                                <img class="offer-image" src="./img/homebanners/What we do images/Imageforstrategize-min.jpg" />
                                            </div>
                                            <div class="col-lg-6 ">
                                                <h6><span>4</span>STRATEGIZE</h6>
                                                <ul>
                                                    <li style="margin: 5px;">
                                                        <p>
                                                            1)	<strong>Influencer Run research:</strong> Curating research by engaging online influencers. 
                                                        </p>
                                                    </li>
                                                    <li style="margin: 5px;">
                                                        <p>
                                                            2)	<strong>Fuse Ball:</strong> Integrating multiple data sources (Social media analytics (SMA), Quantitative research, Establishment data – Euromonitor, Mckinsey, RMS, HH panel et al).
                                                        </p>
                                                    </li>

                                                    <li style="margin: 5px;">
                                                        <p>
                                                            3)	<strong>Dashboard reportage:</strong> Warehousing and integrating research and analytics findings for a comprehensive and clear view. 

                                                        </p>
                                                    </li>
                                                    <li style="margin: 5px;">
                                                        <p>
                                                            4)	<strong>Shopper Journey:</strong> Mapping the consumer behaviour across omni-channel purchase.

                                                        </p>
                                                    </li>



                                                </ul>

                                            </div>
                                        </div>
                                    </div>


                                </li>

                      

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==================== End Offer Section ==================== -->








        <!-- ==================== Start call-to-action ==================== -->

        <section class="call-action nogif mt-5vh">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-9">
                        <div class="content">
                            <h6 class="wow" data-splitting><strong>Let’s Talk</strong></h6>
                            <h2 class="wow" data-splitting>Contact <b>Us</b>.</h2>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3 valign">
                        <a href="contact " class="btn-curve btn-lit"><span>Get In Touch</span></a>
                    </div>

                </div>
            </div>
        </section>

        <!-- ==================== End call-to-action ==================== -->



        <!-- ==================== Start footer-sm ==================== -->

        <footer class="footer-sm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-4">
                        <div class="left">
                            <p>All right reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8">
                        <div class="right" style="display: flex; align-items: center;">
                            <p>SOUL - A HUMAN Insights Studio. Made with passion by &nbsp; </p> <a 
                            style="color : #e6e666"
                            href="https://www.thebrandwick.com/" target="_blank"> TheBrandwick. </a>
                         </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- ==================== End footer-sm ==================== -->


    </div>

    <!-- ==================== End wrapper ==================== -->



    <!-- ==================== Start cursor ==================== -->

    <div class="cursor"></div>
    <div class="cursor2"></div>

    <!-- ==================== End cursor ==================== -->




    <!-- jQuery -->
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>

    <!-- plugins -->
    <script src="js/plugins.js"></script>

    <!-- custom scripts -->
    <script src="js/scripts.js"></script>


</body>




</html>